/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --background-color: #000028;
  --background-accent-color: #ff0070;
  --shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-color: #000028;
  --header-color: #db00ff;
  --decor-color: #ff0070;
  --button-color: #ff0070;
  --button-active-color: #ff0070;
  --button-focus-color: #ff0070;
  --main-font: '"IBM Plex Mono"', monospace;
  --header-image: url('../images/cover-image-dark.png');
  --section__title-color: #ff0070;
  --link-color: #f1b2ce;
}

.page.theme_dark .header__logo {
  display: inline-block;
}
