/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-color: #fff1f7;
  --background-accent-color: #ff8dcb;
  --shadow-color: #ff8dcb;
  --text-color: #353430;
  --accent-color: #353430;
  --header-color: #ffc2e6;
  --decor-color: #353430;
  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --header-image: url('../images/cover-image-light.png');
  --section-title-color: #353430;
  --link-color: #353430;
}

.page.theme_light .header__logo {
  display: none;
}

@media (width >= 1024px) {
  .page.theme_light {
    --shadow-color: #ff8dcb;
  }
}

@media (prefers-color-scheme: light) {
  @media (width >= 1024px) {
    .page {
      --shadow-color: #ff8dcb;
    }
  }

  :root {
    --background-color: #fff1f7;
    --background-accent-color: #ff8dcb;
    --shadow-color: #ff8dcb;
    --text-color: #353430;
    --accent-color: #353430;
    --header-color: #ffc2e6;
    --decor-color: #353430;
    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --header-image: url('../images/cover-image-light.png');
    --section-title-color: #353430;
    --link-color: #353430;
  }

  .header__logo {
    display: none;
  }
}
