/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --main-font: 'IBM Plex Mono', monospace;
  --background-accent-color: #ff0070;
  --text-color: #f1b2ce;
  --shadow-color: #ff0070;
  --accent-color: #000028;
  --header-color: #db00ff;
  --decor-color: #ff0070;
  --button-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --header-image: url('../images/cover-image-dark.png');
  --section-title-color: #ff0070;
  --link-color: #f1b2ce;
}
